스타들의 생일은 언제?
---
아래와 같은 결과가 나오도록 DataFrame을 만들고 출력해 보세요.  
column은 name, birthday, occupation 총 3개입니다.


![1](https://i.imgur.com/ioHLlBj.png)

In [1]:
import pandas as pd

# 코드를 작성하세요.
name = ['Taylor Swift', 'Aaron Sorkin', 'Harry Potter','Ji-Sung Park']
birthday = ['December 13, 1989','June 9, 1961','July 31, 1980','February 25, 1981']
occupation = ['Singer-songwriter','Screenwriter','Wizard','Footballer']
dic1 = {
    'name' : name,
    'occupation' : occupation
}
df = pd.DataFrame(dic1)
# 정답 출력
df

           name         occupation
0  Taylor Swift  Singer-songwriter
1  Aaron Sorkin       Screenwriter
2  Harry Potter             Wizard
3  Ji-Sung Park         Footballer