가장 인기 있는 아기 이름은?
---
아기의 성별과 어머니의 인종에 따른, 뉴욕에서 가장 인기 있는 아기 이름이 무엇인지 조사를 해 봤습니다.


조사 결과가 data 폴더의 popular_baby_names.csv라는 파일에 담겨 있는데요. 안에 있는 정보를 DataFrame으로 읽어 들이고, DataFrame을 출력해 주세요.

In [1]:
import pandas as pd

# 코드를 작성하세요.
df = pd.read_csv('data/popular_baby_names.csv')
# 정답 출력
df

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank
0,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Olivia,172,1
1,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Chloe,112,2
2,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Sophia,104,3
3,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Emily,99,4
4,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Emma,99,4
5,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Mia,79,5
6,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Charlotte,59,6
7,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Sarah,57,7
8,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Hannah,56,8
9,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Isabella,56,8
10,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Grace,54,9
11,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Angela,54,9
12,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Ava,53,10
13,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Joanna,49,11
14,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Amelia,44,12
15,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Evelyn,42,13
16,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Arya,42,13
17,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Ella,42,13
18,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Ariana,40,14
19,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Alina,39,15
20,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Maya,39,15
21,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Fiona,35,16
22,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Fatima,34,17
23,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Anna,34,17
24,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Ashley,34,17
25,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Anaya,34,17
26,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Aria,33,18
27,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Abigail,32,19
28,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Victoria,32,19
29,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Abby,31,20
...,...,...,...,...,...,...
11315,2011,MALE,WHITE NON HISPANIC,HUGO,11,96
11316,2011,MALE,WHITE NON HISPANIC,ALLEN,11,96
11317,2011,MALE,WHITE NON HISPANIC,GREYSON,11,96
11318,2011,MALE,WHITE NON HISPANIC,KACPER,11,96
11319,2011,MALE,WHITE NON HISPANIC,CARMINE,11,96
11320,2011,MALE,WHITE NON HISPANIC,SANTINO,11,96
11321,2011,MALE,WHITE NON HISPANIC,SAMIR,10,97
11322,2011,MALE,WHITE NON HISPANIC,STEPHEN,10,97
11323,2011,MALE,WHITE NON HISPANIC,ASHTON,10,97
11324,2011,MALE,WHITE NON HISPANIC,YEHUDAH,10,97
11325,2011,MALE,WHITE NON HISPANIC,BRYCE,10,97
11326,2011,MALE,WHITE NON HISPANIC,NIKOLAS,10,97
11327,2011,MALE,WHITE NON HISPANIC,YONAH,10,97
11328,2011,MALE,WHITE NON HISPANIC,SILAS,10,97
11329,2011,MALE,WHITE NON HISPANIC,SIDNEY,10,97
11330,2011,MALE,WHITE NON HISPANIC,CADEN,10,97
11331,2011,MALE,WHITE NON HISPANIC,ELLIS,10,97
11332,2011,MALE,WHITE NON HISPANIC,DEREK,10,97
11333,2011,MALE,WHITE NON HISPANIC,NOSSON,10,97
11334,2011,MALE,WHITE NON HISPANIC,AYDEN,10,97
11335,2011,MALE,WHITE NON HISPANIC,REED,10,97
11336,2011,MALE,WHITE NON HISPANIC,CALVIN,10,97
11337,2011,MALE,WHITE NON HISPANIC,BENNETT,10,97
11338,2011,MALE,WHITE NON HISPANIC,BERISH,10,97
11339,2011,MALE,WHITE NON HISPANIC,MOHAMMED,10,97
11340,2011,MALE,WHITE NON HISPANIC,LEV,10,97
11341,2011,MALE,WHITE NON HISPANIC,AUGUSTUS,10,97
11342,2011,MALE,WHITE NON HISPANIC,SHAUL,10,97
11343,2011,MALE,WHITE NON HISPANIC,WESLEY,10,97
11344,2011,MALE,WHITE NON HISPANIC,KENNETH,10,97

---
메가밀리언 로또 당첨 번호
---
‘메가밀리언’은 ‘파워볼’과 더불어 미국에서 양대산맥을 이루는 복권입니다. 당첨될 확률이 약 3억분의 1 정도로 굉장히 낮은 대신, 당첨시 금액이 어마어마하죠. 2018년에는 한 명이 무려 1.8조원을 가져가기도 했습니다.


메가밀리언 측에서 2002년부터 현재(2/15/19)까지의 당첨 번호가 담긴 mega_millions.csv 파일을 공개했는데요. 이 데이터를 DataFrame에 넣어 봅시다.


날짜(Draw Date)가 이 DataFrame의 인덱스가 되도록 해 주세요!

In [2]:
import pandas as pd

# 코드를 작성하세요.
df = pd.read_csv('data/mega_millions.csv', index_col=0)
# 정답 출력
df

           Winning Numbers  Mega Ball  Multiplier
Draw Date
02/15/2019  10 38 40 43 65         12         2.0
02/12/2019  15 32 39 50 65          7         3.0
02/08/2019  14 24 31 42 48         13         3.0
02/05/2019  03 34 36 59 66          7         2.0
02/01/2019  02 37 48 66 68         11         5.0
01/29/2019  10 33 53 54 62         22         2.0
01/25/2019  08 16 30 38 61         10         2.0
01/22/2019  04 15 37 59 64         16         5.0
01/18/2019  02 43 48 62 64         24         3.0
01/15/2019  29 52 58 60 62          7         2.0
01/11/2019  04 05 31 62 69         20         3.0
01/08/2019  13 26 29 38 64          5         5.0
01/04/2019  21 29 35 54 60         15         4.0
01/01/2019  34 44 57 62 70         14         4.0
12/28/2018  09 10 25 37 38         21         2.0
12/25/2018  02 08 42 43 50          6         3.0
12/21/2018  10 13 61 62 70          5         3.0
12/18/2018  13 22 32 60 69          9         3.0
12/14/2018  05 22 26 43 49         23         4.0
12/11/2018  04 38 39 54 59         12         2.0
12/07/2018  04 10 20 33 57         13         3.0
12/04/2018  28 31 41 42 50          4         3.0
11/30/2018  25 28 40 43 63         19         3.0
11/27/2018  12 24 37 42 57         18         4.0
11/23/2018  07 10 30 33 59         23         4.0
11/20/2018  10 16 31 42 66         10         3.0
11/16/2018  33 36 63 68 69         16         3.0
11/13/2018  34 46 57 65 69         11         3.0
11/09/2018  08 14 27 57 67          5         4.0
11/06/2018  28 34 37 56 69         12         2.0
...                    ...        ...         ...
08/27/2002  02 05 11 18 45         22         NaN
08/23/2002  05 19 20 45 48         44         NaN
08/20/2002  02 13 20 23 43          6         NaN
08/16/2002  22 31 33 44 52         43         NaN
08/13/2002  03 10 15 18 25         52         NaN
08/09/2002  07 17 23 43 44         26         NaN
08/06/2002  02 06 38 40 50         14         NaN
08/02/2002  10 16 23 28 31          7         NaN
07/30/2002  02 06 22 27 44          1         NaN
07/26/2002  20 27 28 37 49         32         NaN
07/23/2002  10 12 29 32 38          7         NaN
07/19/2002  07 15 24 37 46          9         NaN
07/16/2002  10 24 35 49 52         47         NaN
07/12/2002  13 19 23 38 47         15         NaN
07/09/2002  26 29 31 44 48         40         NaN
07/05/2002  11 20 26 29 41         41         NaN
07/02/2002  14 22 32 35 44          6         NaN
06/28/2002  18 31 49 50 51          4         NaN
06/25/2002  04 18 21 27 41         50         NaN
06/21/2002  13 18 32 39 49          6         NaN
06/18/2002  06 13 18 27 45         18         NaN
06/14/2002  04 08 32 37 43          2         NaN
06/11/2002  05 06 09 33 44         52         NaN
06/07/2002  14 22 27 28 42         13         NaN
06/04/2002  03 25 29 30 48         48         NaN
05/31/2002  12 28 45 46 52         47         NaN
05/28/2002  06 21 22 29 32         24         NaN
05/24/2002  02 04 32 44 52         36         NaN
05/21/2002  04 28 39 41 44          9         NaN
05/17/2002  15 18 25 33 47         30         NaN

[1746 rows x 3 columns]